.study {
  /* box-sizing: border-box; */
  background-color: aquamarine;
  /* margin-block-end: 20px; */
  /* margin-top: 20%; */
  /* margin-block: 10%; */
  /* max-width: 90%; */
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 2%;
}
